<div
    id="initialPageLoadingScreen"
    class="LoadingScreen"
>
    <div class="LoadingScreen__background"></div>
    <div
        id="initialPageLoadingAnimation"
        class="LoadingAnimation LoadingAnimation--spinning LoadingAnimation--loading"
        aria-label="Loading TinyOffice"
        role="status"
    >
        <div class="LoadingAnimation__brand-mark" aria-hidden="true">A</div>
        <div class="LoadingAnimation__brand-copy">TinyOffice</div>
        <div class="LoadingAnimation__progress" aria-hidden="true"></div>
    </div>
</div>
