.emojisprite-preview {
    width: 66px;
    max-width: none;
    height: 66px;
    background-repeat: no-repeat;
    cursor: pointer;
    -moz-transform: scale(0.5);
    transform: scale(0.5);
    transform-origin: 0 0;

    @supports (zoom: 0.5) {
        -moz-transform: none;
        transform: none;
        zoom: 0.5;
    }
}

.emojisprite {
    width: 66px;
    max-width: none;
    height: 66px;
    background-repeat: no-repeat;
    border-radius: 18px;
    cursor: pointer;
    -moz-transform: scale(0.35);
    transform: scale(0.35);
}

.emojisprite-loading {
    width: 66px;
    max-width: none;
    height: 66px;
    background-image: none !important;
    background-repeat: no-repeat;
    border-radius: 18px;
    cursor: pointer;
    -moz-transform: scale(0.35);
    transform: scale(0.35);
}

@supports (zoom: 0.35) {
    .emojisprite,
    .emojisprite-loading {
        -moz-transform: none;
        transform: none;
        zoom: 0.35;
    }
}

.emoji-category-recent { background-image: url('images/emoji-sheets/apple-sheet.png'); }
.emoji-category-smileys-emotion { background-image: url('images/emoji-sheets/apple-sheet.png'); }
.emoji-category-people-body { background-image: url('images/emoji-sheets/apple-sheet.png'); }
.emoji-category-animals-nature { background-image: url('images/emoji-sheets/apple-sheet.png'); }
.emoji-category-food-drink { background-image: url('images/emoji-sheets/apple-sheet.png'); }
.emoji-category-travel-places { background-image: url('images/emoji-sheets/apple-sheet.png'); }
.emoji-category-activities { background-image: url('images/emoji-sheets/apple-sheet.png'); }
.emoji-category-objects { background-image: url('images/emoji-sheets/apple-sheet.png'); }
.emoji-category-symbols { background-image: url('images/emoji-sheets/apple-sheet.png'); }
.emoji-category-flags { background-image: url('images/emoji-sheets/apple-sheet.png'); }
.emoji-1f600 { background-position: -1980px -2112px; }
.emoji-1f603 { background-position: -1980px -2310px; }
.emoji-1f604 { background-position: -1980px -2376px; }
.emoji-1f601 { background-position: -1980px -2178px; }
.emoji-1f606 { background-position: -1980px -2508px; }
.emoji-1f605 { background-position: -1980px -2442px; }
.emoji-1f602 { background-position: -1980px -2244px; }
.emoji-1f642 { background-position: -2046px -2640px; }
.emoji-1f643 { background-position: -2046px -2706px; }
.emoji-1f609 { background-position: -1980px -2706px; }
.emoji-1f60a { background-position: -1980px -2772px; }
.emoji-1f607 { background-position: -1980px -2574px; }
.emoji-1f60d { background-position: -1980px -2970px; }
.emoji-1f929 { background-position: -2508px -2772px; }
.emoji-1f618 { background-position: -1980px -3696px; }
.emoji-263a-fe0f { background-position: -3564px -1452px; }
.emoji-1f60b { background-position: -1980px -2838px; }
.emoji-1f61b { background-position: -2046px -66px; }
.emoji-1f61c { background-position: -2046px -132px; }
.emoji-1f92a { background-position: -2508px -2838px; }
.emoji-1f914 { background-position: -2442px -1782px; }
.emoji-1f910 { background-position: -2442px -1518px; }
.emoji-1f610 { background-position: -1980px -3168px; }
.emoji-1f611 { background-position: -1980px -3234px; }
.emoji-1f636 { background-position: -2046px -1848px; }
.emoji-1f60f { background-position: -1980px -3102px; }
.emoji-1f612 { background-position: -1980px -3300px; }
.emoji-1f644 { background-position: -2046px -2772px; }
.emoji-1f62c { background-position: -2046px -1188px; }
.emoji-1f60c { background-position: -1980px -2904px; }
.emoji-1f614 { background-position: -1980px -3432px; }
.emoji-1f62a { background-position: -2046px -1056px; }
.emoji-1f634 { background-position: -2046px -1716px; }
.emoji-1f637 { background-position: -2046px -1914px; }
.emoji-1f975 { background-position: -2772px -1188px; }
.emoji-1f976 { background-position: -2772px -1254px; }
.emoji-1f635 { background-position: -2046px -1782px; }
.emoji-1f92f { background-position: -2508px -3168px; }
.emoji-1f60e { background-position: -1980px -3036px; }
.emoji-1f913 { background-position: -2442px -1716px; }
.emoji-1f615 { background-position: -1980px -3498px; }
.emoji-1f61f { background-position: -2046px -330px; }
.emoji-1f641 { background-position: -2046px -2574px; }
.emoji-1f62e { background-position: -2046px -1320px; }
.emoji-1f62f { background-position: -2046px -1386px; }
.emoji-1f632 { background-position: -2046px -1584px; }
.emoji-1f633 { background-position: -2046px -1650px; }
.emoji-1f97a { background-position: -2772px -1782px; }
.emoji-1f627 { background-position: -2046px -858px; }
.emoji-1f628 { background-position: -2046px -924px; }
.emoji-1f630 { background-position: -2046px -1452px; }
.emoji-1f622 { background-position: -2046px -528px; }
.emoji-1f62d { background-position: -2046px -1254px; }
.emoji-1f631 { background-position: -2046px -1518px; }
.emoji-1f616 { background-position: -1980px -3564px; }
.emoji-1f623 { background-position: -2046px -594px; }
.emoji-1f61e { background-position: -2046px -264px; }
.emoji-1f613 { background-position: -1980px -3366px; }
.emoji-1f629 { background-position: -2046px -990px; }
.emoji-1f62b { background-position: -2046px -1122px; }
.emoji-1f624 { background-position: -2046px -660px; }
.emoji-1f621 { background-position: -2046px -462px; }
.emoji-1f620 { background-position: -2046px -396px; }
.emoji-1f92c { background-position: -2508px -2970px; }
.emoji-1f608 { background-position: -1980px -2640px; }
.emoji-1f480 { background-position: -1518px -3300px; }
.emoji-1f4a9 { background-position: -1650px -3498px; }
.emoji-1f921 { background-position: -2508px -1122px; }
.emoji-1f47b { background-position: -1518px -2640px; }
.emoji-1f47d { background-position: -1518px -3102px; }
.emoji-1f916 { background-position: -2442px -1914px; }
.emoji-1f648 { background-position: -2112px -2574px; }
.emoji-1f649 { background-position: -2112px -2640px; }
.emoji-1f64a { background-position: -2112px -2706px; }
.emoji-1f48b { background-position: -1650px -1518px; }
.emoji-1f48c { background-position: -1650px -1584px; }
.emoji-1f498 { background-position: -1650px -2376px; }
.emoji-1f49d { background-position: -1650px -2706px; }
.emoji-1f496 { background-position: -1650px -2244px; }
.emoji-1f497 { background-position: -1650px -2310px; }
.emoji-1f493 { background-position: -1650px -2046px; }
.emoji-1f49e { background-position: -1650px -2772px; }
.emoji-1f495 { background-position: -1650px -2178px; }
.emoji-1f49f { background-position: -1650px -2838px; }
.emoji-1f494 { background-position: -1650px -2112px; }
.emoji-2764-fe0f { background-position: -3696px -2112px; }
.emoji-1f9e1 { background-position: -3366px -2904px; }
.emoji-1f49b { background-position: -1650px -2574px; }
.emoji-1f49a { background-position: -1650px -2508px; }
.emoji-1f499 { background-position: -1650px -2442px; }
.emoji-1f49c { background-position: -1650px -2640px; }
.emoji-1f90e { background-position: -2442px -1056px; }
.emoji-1f5a4 { background-position: -1980px -396px; }
.emoji-1f90d { background-position: -2442px -990px; }
.emoji-1f4af { background-position: -1716px -396px; }
.emoji-1f4a5 { background-position: -1650px -3234px; }
.emoji-1f4ab { background-position: -1716px -132px; }
.emoji-1f4a6 { background-position: -1650px -3300px; }
.emoji-1f4a8 { background-position: -1650px -3432px; }
.emoji-1f573-fe0f { background-position: -1914px -396px; }
.emoji-1f4a3 { background-position: -1650px -3102px; }
.emoji-1f4ac { background-position: -1716px -198px; }
.emoji-1f4ad { background-position: -1716px -264px; }
.emoji-1f4a4 { background-position: -1650px -3168px; }
.emoji-1f44b { background-position: -858px -1056px; }
.emoji-270b { background-position: -3630px -3564px; }
.emoji-1f44c { background-position: -858px -1452px; }
.emoji-270c-fe0f { background-position: -3696px -132px; }
.emoji-1f91e { background-position: -2508px -264px; }
.emoji-1f91f { background-position: -2508px -660px; }
.emoji-1f919 { background-position: -2442px -2442px; }
.emoji-1f448 { background-position: -792px -3696px; }
.emoji-1f449 { background-position: -858px -264px; }
.emoji-1f446 { background-position: -792px -2904px; }
.emoji-1f447 { background-position: -792px -3300px; }
.emoji-261d-fe0f { background-position: -3564px -462px; }
.emoji-1f44d { background-position: -858px -1848px; }
.emoji-1f44e { background-position: -858px -2244px; }
.emoji-270a { background-position: -3630px -3168px; }
.emoji-1f44a { background-position: -858px -660px; }
.emoji-1f44f { background-position: -858px -2640px; }
.emoji-1f64c { background-position: -2178px -132px; }
.emoji-1f450 { background-position: -858px -3036px; }
.emoji-1f64f { background-position: -2178px -2904px; }
.emoji-270d-fe0f { background-position: -3696px -528px; }
.emoji-1f4aa { background-position: -1650px -3564px; }
.emoji-1f442 { background-position: -792px -1980px; }
.emoji-1f443 { background-position: -792px -2376px; }
.emoji-1f440 { background-position: -792px -1782px; }
.emoji-1f441-fe0f { background-position: -792px -1914px; }
.emoji-1f445 { background-position: -792px -2838px; }
.emoji-1f444 { background-position: -792px -2772px; }
.emoji-1f469-200d-1f9b0 { background-position: -1254px -264px; }
.emoji-1f468-200d-1f3eb { background-position: -990px -330px; }
.emoji-1f9d1-200d-1f680 { background-position: -3036px -3630px; }
.emoji-1f46b { background-position: -1320px -726px; }
.emoji-1f464 { background-position: -924px -858px; }
.emoji-1f465 { background-position: -924px -924px; }
.emoji-1f463 { background-position: -924px -792px; }
.emoji-1f34c { background-position: -396px -1980px; }
.emoji-1f34e { background-position: -396px -2112px; }
.emoji-1f353 { background-position: -396px -2442px; }
.emoji-1f355 { background-position: -396px -2574px; }
.emoji-1f32e { background-position: -396px -0; }
.emoji-1f36a { background-position: -462px -132px; }
.emoji-1f370 { background-position: -462px -528px; }
.emoji-2615 { background-position: -3564px -330px; }
.emoji-1f37a { background-position: -462px -1188px; }
.emoji-1f37b { background-position: -462px -1254px; }
.emoji-2708-fe0f { background-position: -3630px -3036px; }
.emoji-1f680 { background-position: -2178px -3300px; }
.emoji-231b { background-position: -3498px -1914px; }
.emoji-23f3 { background-position: -3498px -2772px; }
.emoji-231a { background-position: -3498px -1848px; }
.emoji-23f0 { background-position: -3498px -2574px; }
.emoji-23f1-fe0f { background-position: -3498px -2640px; }
.emoji-23f2-fe0f { background-position: -3498px -2706px; }
.emoji-1f570-fe0f { background-position: -1914px -330px; }
.emoji-2600-fe0f { background-position: -3498px -3630px; }
.emoji-2b50 { background-position: -3696px -3036px; }
.emoji-1f31f { background-position: -330px -2970px; }
.emoji-2601-fe0f { background-position: -3498px -3696px; }
.emoji-26c5 { background-position: -3630px -462px; }
.emoji-2602-fe0f { background-position: -3498px -3762px; }
.emoji-26a1 { background-position: -3564px -3696px; }
.emoji-2744-fe0f { background-position: -3696px -1518px; }
.emoji-1f525 { background-position: -1848px -462px; }
.emoji-2728 { background-position: -3696px -1320px; }
.emoji-1f396-fe0f { background-position: -462px -3234px; }
.emoji-1f3c6 { background-position: -594px -1122px; }
.emoji-26bd { background-position: -3630px -264px; }
.emoji-26be { background-position: -3630px -330px; }
.emoji-1f3c0 { background-position: -528px -1980px; }
.emoji-1f3c8 { background-position: -594px -1584px; }
.emoji-1f3be { background-position: -528px -1848px; }
.emoji-1f3af { background-position: -528px -858px; }
.emoji-1f3ae { background-position: -528px -792px; }
.emoji-1f3b2 { background-position: -528px -1056px; }
.emoji-1f3a8 { background-position: -528px -396px; }
.emoji-1f3a4 { background-position: -528px -132px; }
.emoji-1f3a7 { background-position: -528px -330px; }
.emoji-1f4fb { background-position: -1782px -1584px; }
.emoji-1f4f1 { background-position: -1782px -924px; }
.emoji-1f4f2 { background-position: -1782px -990px; }
.emoji-260e-fe0f { background-position: -3564px -132px; }
.emoji-1f4de { background-position: -1716px -3498px; }
.emoji-1f4df { background-position: -1716px -3564px; }
.emoji-1f4e0 { background-position: -1716px -3630px; }
.emoji-1f50b { background-position: -1782px -2574px; }
.emoji-1f50c { background-position: -1782px -2640px; }
.emoji-1f4bb { background-position: -1716px -1188px; }
.emoji-1f5a5-fe0f { background-position: -1980px -462px; }
.emoji-1f5a8-fe0f { background-position: -1980px -528px; }
.emoji-2328-fe0f { background-position: -3498px -1980px; }
.emoji-1f5b2-fe0f { background-position: -1980px -660px; }
.emoji-1f4bd { background-position: -1716px -1320px; }
.emoji-1f4be { background-position: -1716px -1386px; }
.emoji-1f4bf { background-position: -1716px -1452px; }
.emoji-1f4c0 { background-position: -1716px -1518px; }
.emoji-1f3a5 { background-position: -528px -198px; }
.emoji-1f4fa { background-position: -1782px -1518px; }
.emoji-1f4f7 { background-position: -1782px -1320px; }
.emoji-1f4f9 { background-position: -1782px -1452px; }
.emoji-1f50d { background-position: -1782px -2706px; }
.emoji-1f50e { background-position: -1782px -2772px; }
.emoji-1f4a1 { background-position: -1650px -2970px; }
.emoji-1f3f7-fe0f { background-position: -726px -594px; }
.emoji-2709-fe0f { background-position: -3630px -3102px; }
.emoji-1f4e7 { background-position: -1782px -264px; }
.emoji-1f4e8 { background-position: -1782px -330px; }
.emoji-1f4e6 { background-position: -1782px -198px; }
.emoji-1f4eb { background-position: -1782px -528px; }
.emoji-1f4ee { background-position: -1782px -726px; }
.emoji-2712-fe0f { background-position: -3696px -990px; }
.emoji-1f4dd { background-position: -1716px -3432px; }
.emoji-1f4bc { background-position: -1716px -1254px; }
.emoji-1f4c1 { background-position: -1716px -1584px; }
.emoji-1f4c2 { background-position: -1716px -1650px; }
.emoji-1f5c2-fe0f { background-position: -1980px -792px; }
.emoji-1f4c5 { background-position: -1716px -1848px; }
.emoji-1f4c6 { background-position: -1716px -1914px; }
.emoji-1f5d3-fe0f { background-position: -1980px -1122px; }
.emoji-1f4c8 { background-position: -1716px -2046px; }
.emoji-1f4c9 { background-position: -1716px -2112px; }
.emoji-1f4ca { background-position: -1716px -2178px; }
.emoji-1f4cb { background-position: -1716px -2244px; }
.emoji-1f4cc { background-position: -1716px -2310px; }
.emoji-1f4cd { background-position: -1716px -2376px; }
.emoji-1f4ce { background-position: -1716px -2442px; }
.emoji-1f4cf { background-position: -1716px -2508px; }
.emoji-2702-fe0f { background-position: -3630px -2904px; }
.emoji-1f512 { background-position: -1782px -3036px; }
.emoji-1f513 { background-position: -1782px -3102px; }
.emoji-1f511 { background-position: -1782px -2970px; }
.emoji-1f528 { background-position: -1848px -660px; }
.emoji-1f6e1-fe0f { background-position: -2376px -2376px; }
.emoji-1f527 { background-position: -1848px -594px; }
.emoji-2699-fe0f { background-position: -3564px -3432px; }
.emoji-1f517 { background-position: -1782px -3366px; }
.emoji-26d3-fe0f { background-position: -3630px -792px; }
.emoji-1f9f0 { background-position: -3432px -66px; }
.emoji-26a0-fe0f { background-position: -3564px -3630px; }
.emoji-26d4 { background-position: -3630px -858px; }
.emoji-2b06-fe0f { background-position: -3696px -2772px; }
.emoji-27a1-fe0f { background-position: -3696px -2376px; }
.emoji-2b07-fe0f { background-position: -3696px -2838px; }
.emoji-2b05-fe0f { background-position: -3696px -2706px; }
.emoji-21a9-fe0f { background-position: -3498px -1716px; }
.emoji-21aa-fe0f { background-position: -3498px -1782px; }
.emoji-1f503 { background-position: -1782px -2046px; }
.emoji-1f504 { background-position: -1782px -2112px; }
.emoji-25b6-fe0f { background-position: -3498px -3234px; }
.emoji-25c0-fe0f { background-position: -3498px -3300px; }
.emoji-2716-fe0f { background-position: -3696px -1122px; }
.emoji-2795 { background-position: -3696px -2178px; }
.emoji-2796 { background-position: -3696px -2244px; }
.emoji-2797 { background-position: -3696px -2310px; }
.emoji-203c-fe0f { background-position: -3498px -1056px; }
.emoji-2049-fe0f { background-position: -3498px -1122px; }
.emoji-2753 { background-position: -3696px -1782px; }
.emoji-2754 { background-position: -3696px -1848px; }
.emoji-2755 { background-position: -3696px -1914px; }
.emoji-2757 { background-position: -3696px -1980px; }
.emoji-267b-fe0f { background-position: -3564px -2838px; }
.emoji-2705 { background-position: -3630px -2970px; }
.emoji-2714-fe0f { background-position: -3696px -1056px; }
.emoji-274c { background-position: -3696px -1650px; }
.emoji-274e { background-position: -3696px -1716px; }
.emoji-0023-fe0f-20e3 { background-position: -0 -0; }
.emoji-0030-fe0f-20e3 { background-position: -0 -132px; }
.emoji-0031-fe0f-20e3 { background-position: -0 -198px; }
.emoji-0032-fe0f-20e3 { background-position: -0 -264px; }
.emoji-0033-fe0f-20e3 { background-position: -0 -330px; }
.emoji-0034-fe0f-20e3 { background-position: -0 -396px; }
.emoji-0035-fe0f-20e3 { background-position: -0 -462px; }
.emoji-0036-fe0f-20e3 { background-position: -0 -528px; }
.emoji-0037-fe0f-20e3 { background-position: -0 -594px; }
.emoji-0038-fe0f-20e3 { background-position: -0 -660px; }
.emoji-0039-fe0f-20e3 { background-position: -0 -726px; }
.emoji-1f534 { background-position: -1848px -1452px; }
.emoji-1f7e0 { background-position: -2376px -3630px; }
.emoji-1f7e2 { background-position: -2376px -3762px; }
.emoji-1f535 { background-position: -1848px -1518px; }
.emoji-1f7e3 { background-position: -2442px -0; }
.emoji-26ab { background-position: -3630px -66px; }
.emoji-26aa { background-position: -3630px -0; }
.emoji-1f53a { background-position: -1848px -1848px; }
.emoji-1f53b { background-position: -1848px -1914px; }
.emoji-1f3f3-fe0f { background-position: -726px -132px; }
.emoji-1f1e6-1f1fa { background-position: -0 -2904px; }
.emoji-1f1e8-1f1e6 { background-position: -66px -726px; }
.emoji-1f1eb-1f1ee { background-position: -66px -3102px; }
.emoji-1f442-1f3fb { background-position: -792px -2046px; }
.emoji-1f442-1f3fc { background-position: -792px -2112px; }
.emoji-1f442-1f3fd { background-position: -792px -2178px; }
.emoji-1f442-1f3fe { background-position: -792px -2244px; }
.emoji-1f442-1f3ff { background-position: -792px -2310px; }
.emoji-1f443-1f3fb { background-position: -792px -2442px; }
.emoji-1f443-1f3fc { background-position: -792px -2508px; }
.emoji-1f443-1f3fd { background-position: -792px -2574px; }
.emoji-1f443-1f3fe { background-position: -792px -2640px; }
.emoji-1f443-1f3ff { background-position: -792px -2706px; }
.emoji-1f446-1f3fb { background-position: -792px -2970px; }
.emoji-1f446-1f3fc { background-position: -792px -3036px; }
.emoji-1f446-1f3fd { background-position: -792px -3102px; }
.emoji-1f446-1f3fe { background-position: -792px -3168px; }
.emoji-1f446-1f3ff { background-position: -792px -3234px; }
.emoji-1f447-1f3fb { background-position: -792px -3366px; }
.emoji-1f447-1f3fc { background-position: -792px -3432px; }
.emoji-1f447-1f3fd { background-position: -792px -3498px; }
.emoji-1f447-1f3fe { background-position: -792px -3564px; }
.emoji-1f447-1f3ff { background-position: -792px -3630px; }
.emoji-1f448-1f3fb { background-position: -792px -3762px; }
.emoji-1f448-1f3fc { background-position: -858px -0; }
.emoji-1f448-1f3fd { background-position: -858px -66px; }
.emoji-1f448-1f3fe { background-position: -858px -132px; }
.emoji-1f448-1f3ff { background-position: -858px -198px; }
.emoji-1f449-1f3fb { background-position: -858px -330px; }
.emoji-1f449-1f3fc { background-position: -858px -396px; }
.emoji-1f449-1f3fd { background-position: -858px -462px; }
.emoji-1f449-1f3fe { background-position: -858px -528px; }
.emoji-1f449-1f3ff { background-position: -858px -594px; }
.emoji-1f44a-1f3fb { background-position: -858px -726px; }
.emoji-1f44a-1f3fc { background-position: -858px -792px; }
.emoji-1f44a-1f3fd { background-position: -858px -858px; }
.emoji-1f44a-1f3fe { background-position: -858px -924px; }
.emoji-1f44a-1f3ff { background-position: -858px -990px; }
.emoji-1f44b-1f3fb { background-position: -858px -1122px; }
.emoji-1f44b-1f3fc { background-position: -858px -1188px; }
.emoji-1f44b-1f3fd { background-position: -858px -1254px; }
.emoji-1f44b-1f3fe { background-position: -858px -1320px; }
.emoji-1f44b-1f3ff { background-position: -858px -1386px; }
.emoji-1f44c-1f3fb { background-position: -858px -1518px; }
.emoji-1f44c-1f3fc { background-position: -858px -1584px; }
.emoji-1f44c-1f3fd { background-position: -858px -1650px; }
.emoji-1f44c-1f3fe { background-position: -858px -1716px; }
.emoji-1f44c-1f3ff { background-position: -858px -1782px; }
.emoji-1f44d-1f3fb { background-position: -858px -1914px; }
.emoji-1f44d-1f3fc { background-position: -858px -1980px; }
.emoji-1f44d-1f3fd { background-position: -858px -2046px; }
.emoji-1f44d-1f3fe { background-position: -858px -2112px; }
.emoji-1f44d-1f3ff { background-position: -858px -2178px; }
.emoji-1f44e-1f3fb { background-position: -858px -2310px; }
.emoji-1f44e-1f3fc { background-position: -858px -2376px; }
.emoji-1f44e-1f3fd { background-position: -858px -2442px; }
.emoji-1f44e-1f3fe { background-position: -858px -2508px; }
.emoji-1f44e-1f3ff { background-position: -858px -2574px; }
.emoji-1f44f-1f3fb { background-position: -858px -2706px; }
.emoji-1f44f-1f3fc { background-position: -858px -2772px; }
.emoji-1f44f-1f3fd { background-position: -858px -2838px; }
.emoji-1f44f-1f3fe { background-position: -858px -2904px; }
.emoji-1f44f-1f3ff { background-position: -858px -2970px; }
.emoji-1f450-1f3fb { background-position: -858px -3102px; }
.emoji-1f450-1f3fc { background-position: -858px -3168px; }
.emoji-1f450-1f3fd { background-position: -858px -3234px; }
.emoji-1f450-1f3fe { background-position: -858px -3300px; }
.emoji-1f450-1f3ff { background-position: -858px -3366px; }
.emoji-1f468-1f3fb-200d-1f3eb { background-position: -990px -396px; }
.emoji-1f468-1f3fc-200d-1f3eb { background-position: -990px -462px; }
.emoji-1f468-1f3fd-200d-1f3eb { background-position: -990px -528px; }
.emoji-1f468-1f3fe-200d-1f3eb { background-position: -990px -594px; }
.emoji-1f468-1f3ff-200d-1f3eb { background-position: -990px -660px; }
.emoji-1f469-1f3fb-200d-1f9b0 { background-position: -1254px -330px; }
.emoji-1f469-1f3fc-200d-1f9b0 { background-position: -1254px -396px; }
.emoji-1f469-1f3fd-200d-1f9b0 { background-position: -1254px -462px; }
.emoji-1f469-1f3fe-200d-1f9b0 { background-position: -1254px -528px; }
.emoji-1f469-1f3ff-200d-1f9b0 { background-position: -1254px -594px; }
.emoji-1f46b-1f3fb { background-position: -1320px -792px; }
.emoji-1f46b-1f3fc { background-position: -1320px -858px; }
.emoji-1f46b-1f3fd { background-position: -1320px -924px; }
.emoji-1f46b-1f3fe { background-position: -1320px -990px; }
.emoji-1f46b-1f3ff { background-position: -1320px -1056px; }
.emoji-1f469-1f3fb-200d-1f91d-200d-1f468-1f3fc { background-position: -1320px -1122px; }
.emoji-1f469-1f3fb-200d-1f91d-200d-1f468-1f3fd { background-position: -1320px -1188px; }
.emoji-1f469-1f3fb-200d-1f91d-200d-1f468-1f3fe { background-position: -1320px -1254px; }
.emoji-1f469-1f3fb-200d-1f91d-200d-1f468-1f3ff { background-position: -1320px -1320px; }
.emoji-1f469-1f3fc-200d-1f91d-200d-1f468-1f3fb { background-position: -1320px -1386px; }
.emoji-1f469-1f3fc-200d-1f91d-200d-1f468-1f3fd { background-position: -1320px -1452px; }
.emoji-1f469-1f3fc-200d-1f91d-200d-1f468-1f3fe { background-position: -1320px -1518px; }
.emoji-1f469-1f3fc-200d-1f91d-200d-1f468-1f3ff { background-position: -1320px -1584px; }
.emoji-1f469-1f3fd-200d-1f91d-200d-1f468-1f3fb { background-position: -1320px -1650px; }
.emoji-1f469-1f3fd-200d-1f91d-200d-1f468-1f3fc { background-position: -1320px -1716px; }
.emoji-1f469-1f3fd-200d-1f91d-200d-1f468-1f3fe { background-position: -1320px -1782px; }
.emoji-1f469-1f3fd-200d-1f91d-200d-1f468-1f3ff { background-position: -1320px -1848px; }
.emoji-1f469-1f3fe-200d-1f91d-200d-1f468-1f3fb { background-position: -1320px -1914px; }
.emoji-1f469-1f3fe-200d-1f91d-200d-1f468-1f3fc { background-position: -1320px -1980px; }
.emoji-1f469-1f3fe-200d-1f91d-200d-1f468-1f3fd { background-position: -1320px -2046px; }
.emoji-1f469-1f3fe-200d-1f91d-200d-1f468-1f3ff { background-position: -1320px -2112px; }
.emoji-1f469-1f3ff-200d-1f91d-200d-1f468-1f3fb { background-position: -1320px -2178px; }
.emoji-1f469-1f3ff-200d-1f91d-200d-1f468-1f3fc { background-position: -1320px -2244px; }
.emoji-1f469-1f3ff-200d-1f91d-200d-1f468-1f3fd { background-position: -1320px -2310px; }
.emoji-1f469-1f3ff-200d-1f91d-200d-1f468-1f3fe { background-position: -1320px -2376px; }
.emoji-1f4aa-1f3fb { background-position: -1650px -3630px; }
.emoji-1f4aa-1f3fc { background-position: -1650px -3696px; }
.emoji-1f4aa-1f3fd { background-position: -1650px -3762px; }
.emoji-1f4aa-1f3fe { background-position: -1716px -0; }
.emoji-1f4aa-1f3ff { background-position: -1716px -66px; }
.emoji-1f64c-1f3fb { background-position: -2178px -198px; }
.emoji-1f64c-1f3fc { background-position: -2178px -264px; }
.emoji-1f64c-1f3fd { background-position: -2178px -330px; }
.emoji-1f64c-1f3fe { background-position: -2178px -396px; }
.emoji-1f64c-1f3ff { background-position: -2178px -462px; }
.emoji-1f64f-1f3fb { background-position: -2178px -2970px; }
.emoji-1f64f-1f3fc { background-position: -2178px -3036px; }
.emoji-1f64f-1f3fd { background-position: -2178px -3102px; }
.emoji-1f64f-1f3fe { background-position: -2178px -3168px; }
.emoji-1f64f-1f3ff { background-position: -2178px -3234px; }
.emoji-1f919-1f3fb { background-position: -2442px -2508px; }
.emoji-1f919-1f3fc { background-position: -2442px -2574px; }
.emoji-1f919-1f3fd { background-position: -2442px -2640px; }
.emoji-1f919-1f3fe { background-position: -2442px -2706px; }
.emoji-1f919-1f3ff { background-position: -2442px -2772px; }
.emoji-1f91e-1f3fb { background-position: -2508px -330px; }
.emoji-1f91e-1f3fc { background-position: -2508px -396px; }
.emoji-1f91e-1f3fd { background-position: -2508px -462px; }
.emoji-1f91e-1f3fe { background-position: -2508px -528px; }
.emoji-1f91e-1f3ff { background-position: -2508px -594px; }
.emoji-1f91f-1f3fb { background-position: -2508px -726px; }
.emoji-1f91f-1f3fc { background-position: -2508px -792px; }
.emoji-1f91f-1f3fd { background-position: -2508px -858px; }
.emoji-1f91f-1f3fe { background-position: -2508px -924px; }
.emoji-1f91f-1f3ff { background-position: -2508px -990px; }
.emoji-1f9d1-1f3fb-200d-1f680 { background-position: -3036px -3696px; }
.emoji-1f9d1-1f3fc-200d-1f680 { background-position: -3036px -3762px; }
.emoji-1f9d1-1f3fd-200d-1f680 { background-position: -3102px -0; }
.emoji-1f9d1-1f3fe-200d-1f680 { background-position: -3102px -66px; }
.emoji-1f9d1-1f3ff-200d-1f680 { background-position: -3102px -132px; }
.emoji-261d-1f3fb { background-position: -3564px -528px; }
.emoji-261d-1f3fc { background-position: -3564px -594px; }
.emoji-261d-1f3fd { background-position: -3564px -660px; }
.emoji-261d-1f3fe { background-position: -3564px -726px; }
.emoji-261d-1f3ff { background-position: -3564px -792px; }
.emoji-270a-1f3fb { background-position: -3630px -3234px; }
.emoji-270a-1f3fc { background-position: -3630px -3300px; }
.emoji-270a-1f3fd { background-position: -3630px -3366px; }
.emoji-270a-1f3fe { background-position: -3630px -3432px; }
.emoji-270a-1f3ff { background-position: -3630px -3498px; }
.emoji-270b-1f3fb { background-position: -3630px -3630px; }
.emoji-270b-1f3fc { background-position: -3630px -3696px; }
.emoji-270b-1f3fd { background-position: -3630px -3762px; }
.emoji-270b-1f3fe { background-position: -3696px -0; }
.emoji-270b-1f3ff { background-position: -3696px -66px; }
.emoji-270c-1f3fb { background-position: -3696px -198px; }
.emoji-270c-1f3fc { background-position: -3696px -264px; }
.emoji-270c-1f3fd { background-position: -3696px -330px; }
.emoji-270c-1f3fe { background-position: -3696px -396px; }
.emoji-270c-1f3ff { background-position: -3696px -462px; }
.emoji-270d-1f3fb { background-position: -3696px -594px; }
.emoji-270d-1f3fc { background-position: -3696px -660px; }
.emoji-270d-1f3fd { background-position: -3696px -726px; }
.emoji-270d-1f3fe { background-position: -3696px -792px; }
.emoji-270d-1f3ff { background-position: -3696px -858px; }
